 /*        font-family: 'McLaren', cursive;*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: #fff;
     font-family: 'McLaren', cursive;
 }



 body {
     background-color: #275080;
     overflow-x: hidden;
 }

 .wrap {
     height: 100vh;
     height: calc(var(--vh, 1vh) * 100);

 }

 h2 {
     font-size: 18px;
 }









 /*information about health and win rounds player and ai*/
 .scores {
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     height: 20%;
 }

 .aiScore {
     text-align: right;
 }

 .yourScore,
 .aiScore {
     width: 200px;
 }

 .health {
     width: 99%;
     height: 20px;
     background-color: #fff;
     position: relative;
     overflow: hidden;
     border: 2px solid #fff;

 }

 .health .enemyHit {
     position: absolute;
     width: 100%;
     height: 20px;
     left: -100%;
     background-color: #ea0032;
     transition: .5s;
 }

 .health .playerHit {
     position: absolute;
     width: 100%;
     height: 20px;
     right: -100%;
     background-color: #ea0032;
     transition: .5s;
 }












 /*information with fight text*/
 .result {
     text-align: center;
     padding: 10px;
     display: inline-block;
     margin: 0 auto;
     width: 100%;
     height: 10%;
 }












 /*Place with graphics and info about hit value*/
 .battlefield {
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     height: 45%;
 }

 .battlefield div {
     padding: 20px;
 }

 .playerChooseField,
 .computerChooseField {
     position: relative;
     width: 100%;
     transition: 0.5s;
 }

 .playerChooseField img,
 .computerChooseField img {
     opacity: 0;
     transition: 0.5s;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: 0.5s;
     width: 100%;
 }


 .playerChooseField img.active,
 .computerChooseField img.active {
     opacity: 1;
 }

 .toRight {

     transform: translateX(30%);
 }

 .toLeft {

     transform: translateX(-30%);
 }


 .showHitValue {
     position: absolute;
     z-index: 1;
     font-size: 42px;
     color: #ea0032;
     font-weight: 700;
     opacity: 0;
 }

 .playerChooseField .showHitValue {
     right: 10%;
     top: 35%;
 }

 .computerChooseField .showHitValue {
     left: 10%;
     top: 35%;
 }

 .animationHitValue {
     animation: hitValueAnimation 1.5s;
 }






 /*Information about choosed hand player and ai*/
 .handInfo {
     width: 100%;
     /*     margin: 10px;*/
     display: inline-block;
     height: 10%;
     margin: 0 auto;
     text-align: center;
 }








 /*Buttons with hands*/
 .buttons {
     position: relative;
     height: 15%;
     display: flex;
     justify-content: space-around;
     z-index: 1;
 }

 button {
     padding: 10px;
     border: 2px solid #fff;
     color: #fff;
     background-color: transparent;
     margin: 10px 5px;
     transition: 0.2s;
     width: 100px;
     max-height: 50px;
 }

 button:hover {
     color: #275080;
     background-color: #fff;
     cursor: pointer;
 }







 /*main menu*/

 .menu {
     position: absolute;
     height: 100%;
     right: 0;
     bottom: 0;
     width: 100%;
 }

 .menu i {
     position: absolute;
     right: 5px;
     bottom: 1px;
     font-size: 25px;
     transition: .5s;
     z-index: 2;
 }

 .menu i:hover {
     transform: rotateZ(360deg);
     cursor: pointer;
 }

 .contentMenu {
     position: absolute;
     right: -100%;
     background-color: #275080;
     transition: .3s;
     height: 100%;
     bottom: 0;
     z-index: 1;
     width: 100%;
     border: 2px white solid;

 }

 .contentMenu.active {
     right: 0%;
     height:
 }


 .gamePreference label {
     width: 100%;
 }

 .gamePreference input {
     background-color: transparent;
     border: 2px solid #fff;
     padding: 10px;
     margin: 10px;
     text-align: center;
 }

 .saveOptions:hover {
     cursor: pointer;
     background: #fff;
     color: #275080;
 }

 .roundNumberMenu,
 .levelHard {
     border-bottom: 2px solid #fff;
     margin-bottom: 5px;
 }

 .levelHard label {
     font-size: 14px;
 }


 /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


 @media(min-width: 360px) and (orientation: landscape) {
     p {
         font-size: 15px;
     }


     h2 {
         font-size: 17px;
         padding: 20px;
     }

     h1 {
         font-size: 18px;
     }

     .scores {
         height: 25%;
     }

     .battlefield {
         height: 30%;
     }

     .playerChooseField img,
     .computerChooseField img {
         width: 60%;
     }

     .menu {
         height: 100%;
     }

     .buttons {
         height: 10%;
     }

     .buttons button {
         min-height: 50px;
     }


     .gamePreference label {
         font-size: 15px;
     }

     .gamePreference input {
         margin: 5px;
         padding: 5px;
     }

     .menu i {
         right: 10px;
         bottom: 10px;
     }
 }


 @media(min-width: 768px) {
     p {
         font-size: 20px;
     }

     h2 {
         font-size: 35px;
         padding: 30px;
     }

     .scores {
         height: 15%;
     }

     .battlefield {
         height: 50%;
     }

     .buttons {
         max-width: 80%;
         left: 50%;
         transform: translateX(-50%);
         height: 10%;
     }

     .buttons button {
         width: 150px;
         padding: 30px;
         font-size: 23px;
         line-height: 10%;
     }

     .menu.active {
         width: 50%;
     }

     .menu i {
         font-size: 50px;
         right: 15px;
         bottom: 15px;
     }

     .gamePreference input {
         padding: 10px 0;
     }


 }



 @keyframes hitValueAnimation {

     0% {
         opacity: 0;
     }

     30% {
         opacity: 1;
     }

     70% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }

 }
