 /*        font-family: 'McLaren', cursive;*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: #fff;
     font-family: 'McLaren', cursive;
 }

 body {
     background-color: #275080;
     overflow-x: hidden;
 }

 button {
     padding: 10px;
     border: 2px solid #fff;
     color: #fff;
     background-color: transparent;
     margin: 10px 20px;
     transition: 0.2s;
     width: 100px;
 }

 button:hover {
     color: #275080;
     background-color: #fff;
     cursor: pointer;
 }

 .buttons {
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
     max-width: 60%;
     display: flex;
     justify-content: space-between;
     z-index: 1;
 }



 .battlefield {
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     height: 50vh;
 }

 .battlefield div {
     padding: 20px;
 }

 .playerChooseField,
 .computerChooseField {
     position: relative;
     width: 50%;
     transition: 0.5s;
 }

 .playerChooseField img,
 .computerChooseField img {
     opacity: 0;
     transition: 0.5s;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: 0.5s;

 }


 .playerChooseField img.active,
 .computerChooseField img.active {
     opacity: 1;
 }


 .scores {
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
 }

 .aiScore {
     text-align: right;
 }

 .yourScore,
 .aiScore {
     width: 200px;
 }

 .result {
     text-align: center;
     padding: 10px;

 }

 .active {
     display: block;
 }

 .toRight {

     transform: translateX(50%);
 }

 .toLeft {

     transform: translateX(-50%);
 }

 .health {
     width: 100%;
     height: 20px;
     background-color: #fff;
     position: relative;
     overflow: hidden;
     border: 2px solid #fff;

 }

 .health .enemyHit {
     position: absolute;
     width: 100%;
     height: 20px;
     left: -100%;
     background-color: #ea0032;
     transition: .5s;
 }

 .health .playerHit {
     position: absolute;
     width: 100%;
     height: 20px;
     right: -100%;
     background-color: #ea0032;
     transition: .5s;
 }


 .showHitValue {
     position: absolute;
     z-index: 1;
     font-size: 42px;
     color: #ea0032;
     font-weight: 700;
     opacity: 0;
 }

 .playerChooseField .showHitValue {
     right: 10%;
     top: 35%;
 }

 .computerChooseField .showHitValue {
     left: 10%;
     top: 35%;
 }

 .animationHitValue {
     animation: hitValueAnimation 1.5s;
 }



 .handInfo {
     position: absolute;
     bottom: 120px;
     left: 50%;
     transform: translateX(-50%);
 }

 /*main menu*/

 .menu {
     position: absolute;
     width: 10%;
     height: 80vh;
     right: 0;
     bottom: 0;
 }

 .menu i {
     position: absolute;
     right: 20px;
     bottom: 20px;
     font-size: 30px;
     transition: .5s;
     z-index: 1;
 }

 .menu i:hover {
     transform: rotateZ(360deg);
     cursor: pointer;
 }

 .contentMenu {
     position: absolute;
     right: -110%;
     transition: .3s;
     height: 100%;
     bottom: 0;

 }

 .contentMenu.active {
     right: 0;
 }

 .reset {
     position: absolute;
     bottom: 60px;
     right: 10px;
 }

 .author {
     /*     position: absolute;*/
     display: inline-block;
     top: 20px;
     right: 10px;
     margin: 20px;
     text-align: left;
     width: 100px;
 }

 .author span {
     display: inline-block;
 }

 .gamePreference {
     position: absolute;
     right: 10px;
     bottom: 150px;
 }

 .gamePreference label {
     width: 100%;
 }

 .gamePreference input {
     background-color: transparent;
     border: 2px solid #fff;
     padding: 10px;
     margin: 10px;
 }

 .saveOptions:hover {
     cursor: pointer;
     background: #fff;
     color: #275080;
 }







 /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

 @media (max-width: 361px) {
     .buttons {
         max-width: 100%;
     }

     button {
         margin: 10px;
     }


     .reset {
         left: 50%;
         transform: translateX(-50%);
         top: 0px;
         width: 120px;
     }

     .computerChooseField img,
     .playerChooseField img {
         width: 80%;
     }

     .computerChooseField h2,
     .playerChooseField h2 {
         padding: 10px;
         font-size: 20px;
         margin: 0;
     }

     .toRight {

         transform: translateX(25%);
     }

     .toLeft {

         transform: translateX(-25%);
     }

     .result {
         font-size: 18px;
     }

     .scores {
         width: 95%;
     }

     .yourScore,
     .aiScore {
         width: 45%;
     }

 }

 @media (max-width: 641px) {
     .battlefield {
         height: 40vh;
         width: 100%;
     }

     .yourScore,
     .aiScore {
         width: 45%;
     }


     .computerChooseField img,
     .playerChooseField img {
         width: 70%;
     }

     .computerChooseField h2,
     .playerChooseField h2 {
         padding: 10px;
         font-size: 20px;
         margin: 5px;
         width: 90%;
     }

     .buttons {
         bottom: 0;
     }

     .toRight {
         transform: translateX(25%);
     }

     .toLeft {
         transform: translateX(-25%);
     }
 }

 @media (max-width:769px) {


     .yourScore,
     .aiScore {
         width: 45%;
     }

     .computerChooseField img,
     .playerChooseField img {
         width: 70%;
     }

     .toRight {
         transform: translateX(40%);
     }

     .toLeft {
         transform: translateX(-40%);
     }

 }

 @media (max-width:1025px) {


     .yourScore,
     .aiScore {
         width: 300px;
     }

     .computerChooseField img,
     .playerChooseField img {
         width: 70%;
     }

     .toRight {
         transform: translateX(35%);
     }

     .toLeft {
         transform: translateX(-35%);
     }

 }

 @media (max-width:1401px) {
     .toRight {
         transform: translateX(30%);
     }

     .toLeft {
         transform: translateX(-30%);
     }
 }


 @keyframes hitValueAnimation {

     0% {
         opacity: 0;
     }

     30% {
         opacity: 1;
     }

     70% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }

 }
